@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply transition-all;
}

.content {
	@apply bg-gray-light dark:bg-darkblue-dark pb-20 min-h-screen;
}

.header {
	@apply w-full bg-gray-lt-text py-6 shadow-sm dark:bg-darkblue-light scroll-m-2;
}

.header div {
	@apply font-bold text-gray-600 text-lg flex-nowrap flex justify-between w-[90%] mx-auto max-w-7xl;
}

.header div button {
	@apply flex justify-between text-sm items-center;
}

.header div button span {
	@apply truncate mx-3 dark:text-gray-light;
}

.header h1 {
	@apply text-xl text-black dark:text-gray-light;
}

.header button svg {
	@apply text-sm rotate-90;
}

.countries {
	@apply max-w-7xl w-[80%] gap-10 lg:w-[90%] xl:w-full md:w-[90%]  mt-5  mx-auto grid grid-cols-1 xl:gap-x-16 xl:gap-y-24 lg:gap-x-6 lg:gap-y-14 sm:gap-10 md:gap-x-6 md:gap-y-12 justify-center  lg:grid-cols-3 sm:grid-cols-2 xl:grid-cols-4 transition-transform transform-cpu;
}
.country {
	@apply w-full min-w-[275px] h-full bg-gray-lt-text mx-auto overflow-hidden rounded-md relative shadow-lg dark:bg-darkblue-light;
}

.country .country-img {
	@apply w-full min-w-full;
}

.country .country-img img {
	@apply w-full h-48 object-cover bg-gray-100;
}

.country-body {
	@apply p-6;
}

.country-title h1 {
	@apply my-5 text-gray-900 text-2xl font-medium dark:text-white;
}

.country-body .country-info p {
	@apply text-gray-500 text-sm py-1 dark:text-white;
}

.country-body .country-info p span {
	@apply font-bold;
}

/* 
    Country Details Styles
    ===================
*/

.country-details {
	@apply w-[90%] max-w-7xl mx-auto h-full grid grid-cols-1 sm:grid-cols-1 xl:grid-cols-2 gap-14 my-20;
}

.country-details .home {
	@apply xl:col-span-2 p-3 shadow-md bg-gray-lt-text dark:bg-darkblue-light w-[150px] flex justify-evenly items-center text-black dark:text-gray-lt-text;
}

.country-details .home span svg path {
	@apply stroke-black dark:stroke-white;
}

.country-details .country-flag {
	@apply col-span-2 md:col-span-1;
}

.country-details .country-flag img {
	@apply w-full lg:w-min min-h-[320px] h-[320px] h-auto lg:max-h-[320px] bg-cover;
}

.country-details .country-info h1 {
	@apply text-2xl  font-bold text-darkblue-dark dark:text-gray-lt-text my-5;
}

.country-details .country-info .infos {
	@apply grid grid-cols-2 gap-10 text-darkblue-dark dark:text-gray-lt-text;
}

.country-details .country-info .infos p {
	@apply text-sm my-2;
}
.country-details .country-info .infos p span {
	@apply font-bold pr-2;
}

.border-countries {
	@apply mt-4 text-black dark:text-gray-lt-text;
}

.borders {
	@apply h-full flex justify-start mt-2 flex-wrap;
}

.borders a {
	@apply px-3 py-1 shadow-md bg-gray-lt-text dark:bg-darkblue-light w-auto text-black dark:text-gray-lt-text mr-3 mb-3;
}

.main-top {
	@apply justify-between w-[90%] max-w-7xl mx-auto py-5 md:py-9 flex-wrap  md:flex;
}

.main-top div {
	@apply mb-3;
}

/* 
    Searcher Styles
    ===================
*/

.country-searcher {
	@apply w-full lg:w-2/5;
}
.country-searcher label {
	@apply p-1.5 bg-gray-lt-text dark:bg-darkblue-light flex justify-evenly shadow-sm rounded items-center;
}

.country-searcher label svg {
	@apply w-[15%] text-center dark:text-gray-lt-text;
}
.country-searcher label svg path {
	@apply stroke-gray-dark dark:stroke-white;
}

.country-searcher label input {
	@apply p-2  bg-none dark:bg-darkblue-light focus:outline-none focus:bg-gray-light dark:focus:bg-darkblue-dark w-full text-black dark:text-white;
}

/* 
    filterer Styles
    ===================
*/

.country-filter {
	@apply p-1.5 pr-2 bg-white dark:bg-darkblue-light rounded shadow-sm w-1/2 lg:w-auto flex items-center;
}

.country-filter select {
	@apply p-3 lg:py-0 relative bg-white dark:bg-darkblue-light text-black dark:text-white w-full focus-within:outline-none focus:outline-none;
}

.country-filter select option {
	@apply p-3 bg-white dark:bg-darkblue-light text-black dark:text-white;
}

/*  Preloader Stylings */
.loader {
	@apply w-full top-48 relative  flex justify-center items-center;
}
.bar {
	width: 45px;
	height: 40px;
	background: linear-gradient(
			#0000 calc(1 * 100% / 6),
			hsl(207, 26%, 17%) 0 calc(3 * 100% / 6),
			#0000 0
		),
		linear-gradient(
			#0000 calc(2 * 100% / 6),
			hsl(207, 26%, 17%) 0 calc(4 * 100% / 6),
			#0000 0
		),
		linear-gradient(
			#0000 calc(3 * 100% / 6),
			hsl(207, 26%, 17%) 0 calc(5 * 100% / 6),
			#0000 0
		);
	background-size: 10px 400%;
	background-repeat: no-repeat;
	animation: matrix 1s infinite linear;
}
@keyframes matrix {
	0% {
		background-position: 0% 100%, 50% 100%, 100% 100%;
	}
	100% {
		background-position: 0% 0%, 50% 0%, 100% 0%;
	}
}
